:root {
	--default-font: 	'iA Writer Quattro V', 'iA Writer Quattro S', sans-serif;
	--font-monospace: 'iA Writer Mono V', 'iA Writer Mono S', monospace;
}	

.theme-light {
	--background-code: 					#edeeee;
	--background-code-preview:  #f0f0f0;
	--background-preview:				#fcfcfc;
	--background-primary: 			#f7f7f7;	/* Editor */
	--background-primary-alt: 	#f7f7f7;  /* Selected pane and borders */
	--background-secondary: 		#fcfcfc;  /* File Pane */
	--background-secondary-alt: #ecebea;  /* App Background */
	--background-tag: 					#ffffff;
	--interactive-accent: 			#00c1ff;
	--interactive-accent-rgb: 	0, 193, 255;
	--interactive-accent-hover: #00b1ef;
	--menu-selection:						#c4c3c2;	/* Menu Selected Item */
	--menu-selection-text:			#191919;	/* Menu Selected Item Text */
	--scrollbar-bg:  						#f7f7f7;
	--table-line:								#f1f1f1;
	--text-accent:							#00c1ff;
	--text-accent-hover:				#00b1ef;
	--text-faint:								#6e6f72;
	--text-highlight-bg:				#fde466;
	--text-muted:								#101010;
	--text-normal:							#191919;	
	--text-on-accent:						#f7f7f7;
	--text-selection:						rgba(51, 190, 242, 0.25);
	--text-tag:									#8c8c8c;
}


.theme-dark {
	--background-code: 					#242524;
	--background-code-preview:  #1d1d1e;
	--background-preview:				#101010;
	--background-primary:				#191a19;	/* Editor */
	--background-primary-alt: 	#191a19;	/* Selected pane and borders */
	--background-secondary: 		#141514;	/* File Pane */
	--background-secondary-alt: #080808;	/* App Background */
	--background-tag: 					#000000;
	--interactive-accent: 			#00c1ff;
	--interactive-accent-rgb: 	0, 193, 255;
	--interactive-accent-hover: #00b1ef;
	--menu-selection:						#5f5d5b;  /* Menu Selected Item */
	--menu-selection-text:			#cbcccc;	/* Menu Selected Item Text */
	--scrollbar-bg:  						#191919;
	--table-line:								#e6e6e6;
	--text-accent:							#00c1ff;
	--text-accent-hover:				#00b1ef;
	--text-faint:								#8e8f92;
	--text-highlight-bg:				#794b0e;
	--text-muted:								#ecebea;
	--text-normal:							#cbcccc;
	--text-on-accent:						#ffffff;
	--text-selection:						rgba(51, 190, 242, 0.25);
	--text-tag:									#8c8c8c;
}

/* Reset fonts and colors */

/* Fix Font sizes */
html, 
body,
.search-empty-state,
.page-title,
.cm-header-1,
.cm-header-2,
.cm-header-3,
.cm-header-4,
.cm-header-5,
.cm-header-6,
.cm-s-obsidian pre.HyperMD-codeblock,
.markdown-preview-view h1,
.markdown-preview-view h2,
.markdown-preview-view h3,
.markdown-preview-view h4,
.markdown-preview-view h5,
.markdown-preview-view h6,
.markdown-preview-view code {
	font-size: 16px;
	line-height: 26px;
}

/* Fix all font-family settings to use the the font variables */
button {
	font-family: var(--default-font);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
	font-family: var(--default-font);
}

.dropdown {
	font-family: var(--default-font);
}

.suggestion-hotkey {
	font-family: var(--font-monospace);
}

.hidden-token {
	font-family: var(--font-monospace);
}

.CodeMirror span.hmd-hidden-token.cm-formatting-code,
.CodeMirror span.hmd-hidden-token.cm-formatting-em,
.CodeMirror span.hmd-hidden-token.cm-formatting-link,
.CodeMirror span.hmd-hidden-token.cm-formatting-strikethrough,
.CodeMirror span.hmd-hidden-token.cm-formatting-strong {
	font-family: var(--font-monospace);
}

.cm-s-obsidian.CodeMirror .HyperMD-hover > .HyperMD-hover-content code,
.cm-s-obsidian .hmd-fold-html-stub,
.cm-s-obsidian .hmd-fold-code-stub,
.cm-s-obsidian .cm-formatting-code,
.cm-s-obsidian .cm-formatting-hashtag,
.cm-s-obsidian .cm-hmd-frontmatter,
.cm-s-obsidian .cm-hmd-orgmode-markup,
.cm-s-obsidian .cm-inline-code,
.cm-s-obsidian .cm-math,
.cm-s-obsidian .CodeMirror-linewidget kbd,
.cm-s-obsidian .HyperMD-codeblock,
.cm-s-obsidian .HyperMD-hr,
.cm-s-obsidian .hmd-fold-html kbd, 
.cm-s-obsidian span.hmd-fold-math-placeholder{
	font-family: var(--font-monospace);
}

.editor {
	font-family: var(--font-monospace);
}

.setting-hotkey {
	font-family: var(--font-monospace);
}

.top-titlebar-text {
	font-family: var(--font-monospace);
}

.splash-brand-name {
	font-family: var(--font-monospace);
}

/* MARKDOWN EDITOR SETTINGS */

/* Code Block Markdown */
.cm-s-obsidian pre.HyperMD-codeblock {
	color: var(--text-normal);
}

.cm-s-obsidian div.HyperMD-codeblock-bg {
	background-color: var(--background-code);
} 

.cm-s-obsidian pre.HyperMD-codeblock.HyperMD-codeblock-begin {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.cm-s-obsidian pre.HyperMD-codeblock.HyperMD-codeblock-end {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

/* Math */
.cm-s-obsidian span.cm-math, 
.cm-s-obsidian span.hmd-fold-math-placeholder {
	font-style: normal;
}

.CodeMirror .cm-inline-code,
.CodeMirror .cm-math {
	color: var(--text-normal);;
}

/* Reset colors */
.cm-s-obsidian span.cm-tag, 
.cm-s-obsidian span.cm-hmd-escape-char,
.cm-s-obsidian span.cm-hmd-escape-backslash {
	color: inherit;
}

.cm-s-obsidian span.cm-link, 
.cm-s-obsidian span.cm-hmd-internal-link {
	color: inherit;
}

.cm-s-obsidian span.cm-inline-code {
	color: inherit;
}

.cm-s-obsidian span.cm-math, 
.cm-s-obsidian span.hmd-fold-math-placeholder {
	color: inherit;
}


.cm-s-obsidian span.cm-url {
	color: var(--menu-selection);
}

.cm-s-obsidian pre.HyperMD-footnote {
	font-size: inherit;
	padding-left: 0px;
}

.cm-s-obsidian pre.HyperMD-footnote span.cm-hmd-footnote {
	color: var(--menu-selection);
}

.cm-s-obsidian span.cm-formatting-link {
	color: var(--menu-selection);
}

/* Format tags */
.cm-s-obsidian span.cm-hashtag {
	background-color: var(--background-tag);
	border-bottom: 1px solid var(--background-secondary-alt);
	border-top: 1px solid var(--background-secondary-alt);
	color: var(--text-tag);
	font-size: 14px;
	padding-bottom: 1px;
	padding-top: 1px;
	text-decoration: none;
}

.cm-s-obsidian span.cm-hashtag-begin {
	border-bottom-left-radius: 20px; 
	border-left: 1px solid var(--background-secondary-alt);
	border-top-left-radius: 20px; 
	padding-left: 5px;
}

.cm-s-obsidian span.cm-hashtag-end {
	border-bottom-right-radius: 20px; 
	border-right: 1px solid var(--background-secondary-alt);
	border-top-right-radius: 20px; 
	padding-right: 5px;
}

/* MARKDOWN PREVIEW SETTINGS */

/* Tags */
.tag {
	background-color: var(--background-tag);
	border: 1px solid var(--background-secondary-alt);
	color: var(--text-tag);
	font-size: 14px;
	padding-bottom: 1px;
	padding-top: 1px;
	text-decoration: none;
	border-radius: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

.markdown-preview-view a.tag {
	color: var(--text-tag);
}

/* Markdown Preview */
.markdown-preview-view {
	background-color: var(--background-preview);
}

/* Links and footnotes */
.markdown-preview-view a {
	color: inherit;
}

.markdown-preview-view a.footnote-link {
	color: inherit;
	text-decoration: none;
}

.markdown-preview-view section.footnotes {
	font-size: 14px;
}

/* Remove external link icon */
.markdown-preview-view .external-link {
	background-image: none; 
	padding-right: 0px;
}

/* Code blocks and inline code */
.markdown-preview-view pre {
	background-color: var(--background-code-preview);
}

.markdown-preview-view code {
	background-color: var(--background-code-preview);
	color: inherit;
	font-size: 14px;
}

/* Markdown Preview Tables */
.markdown-preview-view table {
	width: 100%;
}

.markdown-preview-view td,
.markdown-preview-view th {
	background-color: var(--background-preview);
	border: none;
	font-size: 14px;
	padding: 4px 10px;
}
.markdown-preview-view th {
	border-bottom: 1px solid var(--table-line);
	border-top: 1px solid var(--table-line);
	font-weight: 800;
	text-align: left;
}
.markdown-preview-view tr:nth-child(odd) {
	background-color: var(--background-preview);
}
.markdown-preview-view tr:last-child {
	background-color: var(--background-preview);
	border-bottom: 1px solid var(--table-line);
}

.markdown-preview-view blockquote {
	border: 0px;
	border-left: 1px solid var(--text-normal);
	border-radius: 0;
	margin-bottom: 25px;
	margin-inline-start: 10px;
	margin-top: 25px;
	padding-bottom: 2px;
	padding-top: 2px;
}

.markdown-preview-view blockquote:first-child {
	margin-bottom: 0px; 
	margin-left: 0px;
}

.markdown-preview-view blockquote:last-child {
	margin-bottom: 25px;
}

.markdown-preview-view blockquote p:first-child {

	margin-bottom: 0px; 
}

.markdown-preview-view ul {
	list-style-type: '– ';
	margin-block-end: 0em;
	margin-block-start: 0em;
}

.markdown-preview-section > ul:first-child,
.markdown-preview-section > ol:first-child {
	margin-bottom: 30px;
}

.markdown-preview-view ul li {
	margin-bottom: 0px;
}

.markdown-preview-view ul li p {
	margin-bottom: 0px;
} 

/* Markdown Headings */
.markdown-preview-view h1,
.markdown-preview-view h2
{
	margin-bottom: 5px;
	margin-top: 10px;
}

.markdown-preview-view h3,
.markdown-preview-view h4,
.markdown-preview-view h5,
.markdown-preview-view h6 {
	font-size: inherit;
	line-height: 24px;
	margin-bottom: 0px;
	margin-top: 4px;
}	

.markdown-preview-view h6 {
	line-height: 16px;
}

.markdown-preview-view h1 {
	font-size: 16px;
	line-height: 24px;
	margin-top: 30px;
	margin-bottom: 16px; 
}

.markdown-preview-view h2 {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 30px; 
}

.markdown-preview-view h4 {
	font-style: italic;
} 

.markdown-preview-view h5 {
	font-style: italic;
	font-weight: 300;
}

.markdown-preview-view h6 {
	color: inherit;
}

/* New Task Icons */
.markdown-preview-view input[type=checkbox] {
	-webkit-appearance: none;
	appearance: none;
	border: 1px solid var(--text-normal);
	border-radius: 3px;
	left: -2px;
	margin-left: -13px;
	top: 5px;
}

.markdown-preview-view input[type=checkbox]:focus{
	outline:0;
}

.theme-dark .markdown-preview-view input[type=checkbox]:checked {
	background-image: url('data:image/svg+xml; utf8, <svg width="100%" height="100%" viewBox="0 0 21 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="matrix(1,0,0,1,-333.852,-754.822)"><path d="M335.935,764.767L342.24,770.888L352.371,756.905" fill="none" stroke="%23cbcccc" stroke-width="4.17px"/></g></svg>');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 70%;
}
.theme-light .markdown-preview-view input[type=checkbox]:checked {
	background-image: url('data:image/svg+xml; utf8, <svg width="100%" height="100%" viewBox="0 0 21 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="matrix(1,0,0,1,-333.852,-754.822)"><path d="M335.935,764.767L342.24,770.888L352.371,756.905" fill="none" stroke="%23191919" stroke-width="4.17px"/></g></svg>');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 70%;
}
.markdown-preview-view .task-list-item { text-indent: -0.5em; margin-left:0;}
.markdown-preview-view .task-list-item-checkbox { margin-left:-25px; } 
.markdown-preview-view .task-list-item { padding-inline-start:0px; }

.markdown-preview-view hr {
	background-color: var(--text-normal);
	border: none;
	height: 1px;
}

.markdown-preview-view p {
	margin-block-start: 0;
	margin-block-end: 30px;
}

.markdown-preview-view .footnotes p {
	margin-block-start: 0;
	margin-block-end: 0px;
}

.markdown-embed-title {
  font-size: 16px;
}

.file-embed-title {
	font-size: 16px;
}

/* USER INTERFACE SETTINGS */

.backlink-pane,
.pane-empty,
.search-empty-state {
	font-size: 14px;
}

.workspace-split.mod-left-split .workspace-leaf-content, 
.workspace-split.mod-right-split .workspace-leaf-content {
	font-size: 14px;
}

.suggestion-item.is-selected {
	background-color: var(--menu-selection);
	color: var(--menu-selection-text);
}

.side-dock-collapsible-section-header {
	font-weight: bold;
}

.workspace-leaf-content[data-type='search'] .nav-action-button.is-active, 
.workspace-leaf-content[data-type='backlink'] .nav-action-button.is-active {
	color: var(--text-accent);
	background-color: inherit;
}

.search-result-file-title:hover,
.search-result-file-match:hover,
.side-dock-collapsible-section-header:hover {
	background-color: var(--menu-selection);
	color: var(--menu-selection-text);
}

.nav-action-button:hover, .nav-action-button.is-active,
.view-action:hover, .view-action.is-active {
	color: var(--text-accent);
}

.list-item:hover .list-item-ending-flair {
	background-color: var(--background-secondary-alt);
	color: var(--text-normal);
}

.side-dock-ribbon-tab:hover, 
.side-dock-ribbon-action:hover,
.workspace-tab-header:hover {
	color: var(--text-accent);
}

.dropdown {
	background-image: url('data:image/svg+xml;charset=utf-8, <svg width="100%" height="100%" viewBox="0 0 184 49" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g transform="matrix(1,0,0,1,-877.45,-1362.33)"><g transform="matrix(-1,-1.22465e-16,1.22465e-16,-1,1938.66,2773.3)"><path d="M969.328,1362.33L1061.21,1410.97L877.45,1410.97L969.328,1362.33Z" style="fill:rgb(0,193,255);"/></g></g></svg>');
	background-size: 1em auto, 100%;
	border: 1px solid var(--background-modifier-border);
}

.nav-folder.mod-root > .nav-file-title, 
.nav-folder.mod-root > .nav-folder-title,
.view-header-title {
	color: var(--text-faint);
	font-size: 14px;
}

/* Fix Nav and View Action Buttons Color */
.nav-action-button,
.view-action,
.view-header-icon
 {
	color: var(--text-faint);
}

/* Remove Header Gradient */
.workspace-leaf.mod-active .view-header-title-container:after, 
.view-header-title-container:after {
	background: none;
}

/* Fix Nav Bar Selected Color */
.nav-file.is-active > .nav-file-title, 
.nav-file.is-active > .nav-folder-title, 
.nav-file.is-active > .nav-folder-collapse-indicator, 
.nav-folder.is-active > .nav-file-title, 
.nav-folder.is-active > .nav-folder-title, 
.nav-folder.is-active > .nav-folder-collapse-indicator {
	background-color: var(--text-faint);
	color: var(--background-primary);
}

.is-being-renamed {
	color: var(--menu-selection-text);
}

/* Fix Menu Hover Color */
.menu-item:hover,
.menu-item:hover .menu-item-icon,
.pane-clickable-item:hover,
body:not(.is-grabbing) .nav-file-title:hover .nav-folder-collapse-indicator,
body:not(.is-grabbing) .nav-folder-title:hover .nav-folder-collapse-indicator,
body:not(.is-grabbing) .nav-file-title:hover,
body:not(.is-grabbing) .nav-folder-title:hover  {
	background-color: var(--menu-selection);
	color: var(--menu-selection-text);
}

.menu-item:hover .menu-item-icon {
	height: 20px;
  width: 28px;
  top: -4px;
  vertical-align: middle;
}

/* Fix round borders */
.workspace-tab-container-after.is-after-active .workspace-tab-header-inner, 
.workspace-tab-header.is-after-active .workspace-tab-header-inner {
	border-bottom-left-radius: 0px;
}

.workspace-tab-container-before.is-before-active .workspace-tab-header-inner, 
.workspace-tab-header.is-before-active .workspace-tab-header-inner {
	border-bottom-right-radius: 0px;
}

.workspace-split.mod-left-split .workspace-tabs .workspace-leaf {
	border-top-left-radius: 0px;
}

.workspace-split.mod-right-split .workspace-tabs .workspace-leaf {
	border-top-right-radius: 0px;
}

.workspace-tab-header.is-active {
	border-radius: 0px;
}

/* Remove highlight line for active window and fix header background */
.workspace-leaf .view-header,
.workspace-leaf.mod-active .view-header {
	background-color: var(--background-primary); 
	border-bottom: none;
}

/* Fix nav folder colors */
.nav-folder.mod-root > .nav-file-title, 
.nav-folder.mod-root > .nav-folder-title,
.nav-file-title, 
.nav-folder-title {
	color: var(--text-faint);
}

.nav-folder.mod-root > .nav-file-title:hover, 
.nav-folder.mod-root > .nav-folder-title:hover {
	color: var(--text-faint);
}

/* Fix workspace leaf handle */
.workspace-leaf-resize-handle {
	background-color: var(--background-secondary-alt)
}

.popover.hover-popover {
    max-height: 600px;  
    min-height: 100px;
    width: 400px;     
}

.popover.hover-popover .markdown-embed {
  padding: 5px 20px 15px 20px;
  font-size: 13px;
  line-height: 1.4;
}

.popover.hover-popover .markdown-embed h1 {
	font-size: 16px;
}
