/* for pdf */

.theme-dark .print .markdown-preview-view strong {
  -webkit-print-color-adjust: exact;
  color: black;
}
.theme-dark .print {
  --background-code: #edeeee;
    --background-code-preview: #f0f0f0;
    --background-preview: #fcfcfc;
    --background-primary: #f7f7f7;
    /* Editor */
    --background-primary-alt: #f7f7f7;
    /* Selected pane and borders */
    --background-secondary: #fcfcfc;
    /* File Pane */
    --background-secondary-alt: #ecebea;
    /* App Background */
    --background-tag: #ffffff;
    --background-modifier-cover: rgba(255, 255, 255, 0.8);
    --interactive-accent: #00b1ef;
    --interactive-accent-rgb: 0, 193, 255;
    --interactive-accent-hover: #00c1ff;
    --menu-selection: #c4c3c2;
    /* Menu Selected Item */
    --menu-selection-text: #191919;
    /* Menu Selected Item Text */
    --scrollbar-bg: #fcfcfc;
    --table-line: #f1f1f1;
    --text-accent: #00b1ef;
    --text-accent-hover: #00c1ff;
    --text-faint: #9c9c9c;
    --text-highlight-bg: rgba(255, 228, 0, 0.5);
    --text-muted: #101010;
    --text-normal: #191919;
    --text-on-accent: #f7f7f7;
    --text-selection: #c9e9f4;
    --text-tag: #8c8c8c;
    --background-quick: #f7f7f7;
    --file-hr: #ecebea;
    --leaf-handle: #ecebea;
}
